.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background: #f9f9f9;
}

.product-image {
  height: auto;
  border-radius: 5px;
}
