form.login-admin {
  width: 400px;
  margin: 20vh auto;
  text-align: center;
  padding: 100px 50px;
  border: 2px solid white;
  border-radius: 15px;
  background: black;
}

.login-admin label {
  color: white;
}

.container--usernameAdmin {
  margin-bottom: 1rem;
}

.container--usernameAdmin label {
  margin: 0 3rem 0 1.25rem;
}

.container--passwordAdmin {
  margin-bottom: 1rem;
}

.container--passwordAdmin label {
  margin: 0 3rem 0 2rem;
}

.login-admin button[type='submit'] {
  border-radius: 20px;
  border: 1px solid black;
  background-color: green;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em 5em;
  cursor: pointer;
}

.errorLoginAdmin {
  color: rgb(255, 0, 0);
  font-weight: bold;
}